<div id="<%= dom_id(comment) %>" class="flex items-start mb-4">
  <div class="relative bg-blue-100 text-gray-800 p-4 rounded-lg shadow-md max-w-lg ml-4">
    <p><%= comment.content %></p>
    <small class="text-gray-500 text-xs block mt-2">
      Posted at <%= comment.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
    </small>

    <div class="absolute top-2 left-[-8px] w-4 h-4 bg-blue-100 rotate-45"></div>
  </div>
</div>
